# Ignore all directories
API/
CONDITIONAL/
DECORATORS/
FUNCTION/
Jupyter_Notbook/
LOOP/
Machine_Learning/
OOPS/
Project_with_File/
Project_with_SQLite/
Project_with_MongoDB/
__pycache__/
SCOPE/
ML_Pro/Training_img/Potato__Early_blight/
ML_Pro/Training_img/Potato__Late_blight/
ML_Pro/Training_img/Potato__healthy/
ML_Pro/.ipynb_checkpoints/
ML_Pro/model/
ML_Pro/.env
ML_Pro/model.config